box {
    background-image: linear-gradient(to bottom right, rgba(20, 200, 10, 1), rgba(20, 200, 10, 0.1));
}

#connection {
    background-color: rgba(20, 200, 20, .5);
}
button {
    font-size: 16px;
    font-family: Courier New;
    color: Black;
    background-color: rgba(180, 20, 20, .75);
}
.jack-on {
    background-color: rgba(20, 220, 20, .75);
}
